<template>
    <q-page>
        <div class="container-products">
            <div class="header-container">
                <div class="header-title">
                    North Atlantic Coffee
                </div>
                <div class="header-search">
                    <q-search v-model="search" color="white" no-icon :after="[{icon: 'search'}]" float-label="Search" />
                </div>
            </div>
            <Products @productSelected="addToCart($event)" :myProducts="search ? filteredItems : items"></Products>
        </div>
        <div class="container-cart">
            <Cart :product="productSelected"></Cart>
        </div>
    </q-page>
</template>

<style lang="scss">
$mobile-width: 320px;
$smartphone-width: 576px;
$tablet-width: 768px;
$sm-desktop-width: 992px;
$desktop-width: 1280px;
 
@mixin smartphone {
  @media (min-width: 0px) and (max-width: #{$smartphone-width - 1px}) {
    @content;
  }
}
 
@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
 
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
 
@mixin sm-desktop {
  @media (min-width: #{$sm-desktop-width}) {
    @content;
  }
}
 
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
    .q-layout-page {
        display: flex;
        @include mobile{
            flex-direction: column;
        }
        .container-products {
            padding: 45px;
            .header-container {
                flex-basis: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include tablet{
                    flex-direction: column;
                }
                 @include mobile{
                    flex-direction: column;
                }
                .header-title {
                    font-size: 2.2em;
                    color: white;
                }
                .header-search {
                    >.q-search {
                        .q-if-label {
                            color: white;
                        }
                    }
                }
            }
            .q-card{
                @include tablet{
                        max-width: 265px;
                        min-width:auto;
                }
                @include mobile{
                    flex:1;
                    max-width:auto;
                }
            }
        }
        .container-cart {
            flex: 1;
            background-color: white;
            padding: 0px 30px;
        }
    }
</style>

<script>
    import Products from '../components/products';
    import Cart from '../components/list-cart';
    export default {
        name: 'PageIndex',
        data() {
            return {
                search: '',
                items: [],
                productSelected: null,
            };
        },
        components: {
            Products,
            Cart,
        },
        created() {
            this.getProducts();
        },
        mounted() {},
        computed: {
            filteredItems() {
                return this.items.filter(item => {
                    return item.title.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                })
            }
        },
        methods: {
            getProducts() {
                // fetch('../assets/products.json')
                fetch('https://api.myjson.com/bins/1hfstc')
                    .then(response => response.json())
                    .then(json => {
                        this.items = json.items;
                    });
            },
            addToCart(product) {
                this.productSelected = product;
            },
            filterProducts() {},
        },
        watch: {
        },
    };
</script>
