<template>
    <div class="list-cart-container">
        <div class="header">
            <div class="title">Your Order</div>
        </div>
        <div class="content">
            <ul class="content-order">
                <li :key="item.id" v-for="item in cart">
                    <span class="content-order-name">{{item.title}}</span>
                    <span class="content-order-prices">
                             <span class="price">{{ toPrice(item.price) }}</span>
                    <span class="exclude" @click="removeProduct(item.id)">X</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class=" total ">
            <div class="title ">Total:</div>
            <div class="price ">${{ getTotal }}</div>
        </div>
    </div>
</template>

<script>
    import Dinero from 'dinero.js';
    export default {
        props: ['product'],
        name: 'Cart',
        data() {
            return {
                cart: [],
                language: 'en-US',
            };
        },
        computed: {
            totalAmount() {
                if (this.cart != '') {
                    let totalAmount = this.cart.map(item => item.price);
                    totalAmount = totalAmount.map(Number);
                    return totalAmount.reduce((sum, a) => sum + a)
                } else {
                    return 0.00
                }
            },
            getTotal() {
                return (this.totalAmount).toFixed(2);
            },
        },
        methods: {
            removeProduct(id) {
                const cart = this.cart;
                const filteredItems = cart.filter(item => item.id !== id);
                this.cart = filteredItems;
            },
            toPrice(amount, factor = Math.pow(10, 2)) {
                return Dinero({
                    amount: amount * factor,
                }).toFormat();
            },
        },
        watch: {
            product() {
                const cart = this.cart;
                const product = this.$props.product;
                if (cart.some(e => e.title === product.title)) {
                    return
                } else {
                    this.cart.push(product);
                }
            },
        },
    };
</script>

<style lang="scss">
    .list-cart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        .title {
            font-size: 2em;
            padding: 10px;
        }
        .header {
            border-bottom: 2px solid #512f55;
            width: 100%;
            text-align: center;
        }
        .content {
            width: 100%;
            ul.content-order {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0px;
                    font-size: 1.2em;
                    >span {
                        flex: 1;
                        &.content-order-prices {
                            display: flex;
                            justify-content: flex-end;
                            >.price {
                                margin-right: 15px;
                            }
                            >.exclude {
                                border-left: 2px solid #512f55;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .total {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            align-content: space-between;
            border-top: 2px solid #512f55;
            justify-content: space-between;
           > .price {
                font-size: 2em;
                padding-top: 10px;
            }
        }
    }
</style>
