<template>
<div>
    <q-card inline class="q-ma-sm" :key="item.id" v-for="item in myProducts">
        <q-card-media>
            <img :src="item.image">
        </q-card-media>
        <q-card-title>
            {{ item.title }}
        </q-card-title>
        <q-card-separator />
        <q-card-actions>
            <q-btn flat>${{ item.price }}</q-btn>
            <q-btn flat @click="addToCart(item)">Add to my order</q-btn>
        </q-card-actions>
    </q-card>
</div>
   
</template>

<script>
export default {
  props: ['myProducts'],

  name: 'Products',
  data() {
    return {};
  },
  created() {

  },
  mounted() {

  },
  computed: {},
  methods: {
    addToCart(product) {
        this.$emit('productSelected', product);
    },
  },
};
</script>

<style lang="scss">
    .q-card {
        flex: 1 0 21%;
        min-width: 315px;
        max-width: 315px;
        background-color: white;
        .q-card-media {
            max-height: 195px;
        }
        .q-card-actions {
            justify-content: space-between;
        }
    }

.container-products {
  background-color: #512f55;
  display: flex;
  flex-wrap: wrap;
  flex: 3;
}

</style>
